<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>

</head>
<body>

    <div class="alert alert-success" role="alert" th:if = "${!#strings.isEmpty(mensagem)}">
        <span th:text="${mensagem}">Usuario</span>
    </div>

    <form method="post" action="/pessoa/salvar" th:object="${pessoa}" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" aria-describedby="nomeHelp" placeholder="Insira seu nome" name="nome" th:field="*{nome}" required>
            <small id="nomeHelp" class="form-text text-muted">Coloque seu nome sem reclamar!</small>
        </div>
        <div class="form-group">
            <label for="time">Time:</label>
            <input type="text" class="form-control" id="time" placeholder="Seu time" name="time" th:field="*{time}" required>
        </div>
        <div class="form-group">
            <label for="dataN">Data de nascimento:</label>
            <input type="text" class="form-control" id="dataN" placeholder="Sua data de nascimento" name="dataN" th:field="*{dataNascimento}" required>
        </div>


        <div class="form-group">
            <label for="imagem">Selecione a imagem:</label>
            <input type="file" id="imagem" name="imagem">
        </div>

        <div class="form-group">
            <label for="login">Login:</label>
            <input type="text" class="form-control" id="login" placeholder="Seu login" name="login" th:field="*{login}" required>
        </div>

        <div class="form-group">
            <label for="senha">Senha:</label>
            <input type="password" class="form-control" id="senha" placeholder="Sua senha" name="senha" th:field="*{senha}" required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
    <script src="/js/bootstrap.min.js"></script>
    </body>
</html>