<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
</head>
<body>

<div class="alert alert-success" role="alert" th:if = "${!#strings.isEmpty(mensagem)}">
    <span th:text="${mensagem}">Usuario</span>
</div>

<form action="/pessoa/logar" method="post">

    <div class="form-group">
        <label for="login">Login:</label>
        <input type="text" class="form-control" id="login" placeholder="Seu login" name="username" required>
    </div>

    <div class="form-group">
        <label for="senha">Senha:</label>
        <input type="password" class="form-control" id="senha" placeholder="Sua senha" name="password" required>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


<script src="/js/bootstrap.min.js"></script>
</body>
</html>