<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />

</head>
<body>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Código</th>
        <th scope="col">Nome</th>
        <th scope="col">Time</th>
        <th scope="col">Excluir?</th>
        <th scope="col">Atualizar?</th>
        <th scope="col">Icone</th>
        <th scope="col">Nascimento</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pessoa: ${todasAsPessoas}">
        <td th:text="${pessoa.id}"></td>
        <td th:text="${pessoa.nome}"></td>
        <td th:text="${pessoa.time}"></td>
        <td> <a th:href="@{/pessoa/excluir/{id}(id = ${pessoa.id})}"><button type="button" class="btn btn-danger"><b>X</b></button></a></td>
        <td> <a th:href="@{/pessoa/atualizar/{id}(id = ${pessoa.id})}"><button type="button" class="btn btn-outline-warning">Atualizar</button></a></td>
        <td> <img style="width: 50px; height: 50px" alt="" th:src="@{'/imagens/' + ${pessoa.nome    } + '.png'}"/> </td>
        <td th:text="${{pessoa.dataNascimento}}"></td>
    </tr>
    <tr>

    </tbody>

</table>

<script src="/js/bootstrap.min.js"></script>
</body>
</html>