<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastramento de Produtos</title>
    <link rel="stylesheet" type="text/css" href="/CSS/bootstrap.min.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $( function() {
            $( "#accordion" ).accordion();
        } );
    </script>
</head>



<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/PaginaPrincipal">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="/Sobre">Sobre</a></li>
                <li class="nav-item"><a class="nav-link" href="/Produtos">Produtos e Serviços</a></li>
                <li class="nav-item"><a class="nav-link" href="/usuario/formulario" sec:authorize="!isAuthenticated()">Cadastre-se!</a></li>
                <li class="nav-item active"><a class="nav-link" href="/Cadastrar/Produto" sec:authorize="hasRole('ADMIN')">Cadastrar Produtos</a></li>
                <li class="nav-item"><a class="nav-link" href="/usuario/logar" sec:authorize="!isAuthenticated()">Logar-se</a></li>
                <li class="nav-item"><a class="nav-link" href="/logout" sec:authorize="isAuthenticated()">Logout</a></li>
                <li class="nav-item active"><a class="nav-link" th:href="@{/usuario/perfil/{user}(user = ${#authentication.name})}" sec:authorize="isAuthenticated()">Perfil</a></li>

            </ul>
        </div>
    </nav>


    <div id="aviso" class="alert alert-success" role="alert" th:if = "${!#strings.isEmpty(mensagem)}">
        <div class="row">
            <div class="col-sm-8">
                <span th:text="${mensagem}"></span>
            </div>
            <div class="col-sm-4" style="text-align: right">
                <button type="button" class="btn btn-secondary btn-sm" id="fecharAviso">X</button>
            </div>
        </div>
    </div>

    <div id="accordion" style="height: 100%; width: 100%">
        <h3>Ferramentas</h3>
        <div>
            <a name="ferramenta"></a>
            <form method="post" action="/ferramenta/salvar" th:object="${ferramenta}" enctype="multipart/form-data">
                <input type="hidden" th:field="*{id}">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="nomefer">Nome:</label>
                            <input type="text" class="form-control" id="nomefer" aria-describedby="nomeHelpfer" placeholder="Nome do produto" name="nomefer" th:field="*{nome}" required>
                            <small id="nomeHelpfer" class="form-text text-muted">Coloque o nome da ferramenta.</small>
                        </div>
                        <div class="form-group">
                            <label for="marcafer">Marca:</label>
                            <input type="text" class="form-control" id="marcafer" aria-describedby="marcaHelpfer" placeholder="Marca do produto" name="marcafer" th:field="*{marca}" required>
                            <small id="marcaHelpfer" class="form-text text-muted">Coloque a marca da ferramenta.</small>
                        </div>
                        <div class="form-group">
                            <label for="descricaofer">Descrição</label>
                            <textarea class="form-control" id="descricaofer" aria-describedby="descricaoHelpfer" placeholder="Descrição..." name="descricaofer" th:field="*{descricao}"required></textarea>
                            <small id="descricaoHelpfer" class="form-text text-muted">Coloque a descrição da ferramenta.</small>
                        </div>
                        <div class="form-group">
                            <label for="imagemfer">Selecione a imagem:</label>
                            <input type="file" id="imagemfer" name="imagemfer" required aria-describedby="imagemHelpfer">
                            <small id="imageHelpfer" class="form-text text-muted">Selecione uma imagem para o produto.</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="valorfer">Valor:</label>
                            <input type="text" class="form-control" id="valorfer" aria-describedby="valorHelpfer" placeholder="Valor do produto" name="valorfer" th:field="*{valor}" required>
                            <small id="valorHelpfer" class="form-text text-muted">Coloque o valor do produto.</small>
                        </div>
                        <div class="form-group">
                            <label for="valorAntigofer">Valor sem promoção:</label>
                            <input type="text" class="form-control" id="valorAntigofer" aria-describedby="valorAntigoHelpfer" placeholder="Valor antigo do produto" name="valorAntigofer" th:field="*{valorAntigo}" required>
                            <small id="valorAntigoHelpfer" class="form-text text-muted">Coloque o valor antes da promoção do produto.</small>
                        </div>
                        <div class="form-group">
                            <label for="qtdfert">Quantidade a ser adicionada</label>
                            <input type=number class="form-control" id="qtdfert" aria-describedby="qtdHelpfert" name="qtdfert" th:field="*{qtdEmEstoque}" required>
                            <small id="qtdHelpfert" class="form-text text-muted">Defina a quantidade a ser adicionada.</small>
                        </div>
                        <div class="form-group">
                            <label for="descontofert">Desconto Calculado!</label>
                            <input type="number" class="form-control" id="descontofert" aria-describedby="descontofertHelp" name="descontofert" th:field="*{desconto}" required readonly>
                            <small id="descontofertHelp" class="form-text text-muted">Desconto calculado automaticamente</small>
                        </div>

                    </div>
                </div>
                <div style="text-align: center">
                    <button type="submit" class="btn btn-primary" name="btfer" id="btfer">Inserir Ferramenta</button>
                </div>
            </form>
        </div>
        <h3>Planta</h3>
        <div>
            <a name="planta"></a>
            <form method="post" action="/planta/salvar" th:object="${planta}" enctype="multipart/form-data">
                <input type="hidden" th:field="*{id}">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="nomepla">Nome:</label>
                            <input type="text" class="form-control" id="nomepla" aria-describedby="nomeHelppla" placeholder="Nome da planta" name="nomepla" th:field="*{nome}" required>
                            <small id="nomeHelppla" class="form-text text-muted">Coloque o nome da planta.</small>
                        </div>
                        <div class="form-group">
                            <label for="tipopla">Tipo:</label>
                            <input type="text" class="form-control" id="tipopla" aria-describedby="tipoHelppla" placeholder="Tipo da planta" name="tipopla" th:field="*{tipo}" required>
                            <small id="tipoHelppla" class="form-text text-muted">Coloque o tipo da planta.</small>
                        </div>
                        <div class="form-group">
                            <label for="descricaopla">Descrição</label>
                            <textarea class="form-control" id="descricaopla" aria-describedby="descricaoHelppla" placeholder="Descrição..." name="descricaopla" th:field="*{descricao}"required></textarea>
                            <small id="descricaoHelppla" class="form-text text-muted">Coloque a descrição da planta.</small>
                        </div>
                        <div class="form-group">
                            <label for="imagempla">Selecione a imagem:</label>
                            <input type="file" id="imagempla" name="imagempla" required aria-describedby="imagemHelppla">
                            <small id="imageHelppla" class="form-text text-muted">Selecione uma imagem para a planta.</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="valorpla">Valor:</label>
                            <input type="text" class="form-control" id="valorpla" aria-describedby="valorHelppla" placeholder="Valor da planta" name="valorpla" th:field="*{valor}" required>
                            <small id="valorHelppla" class="form-text text-muted">Coloque o valor da planta.</small>
                        </div>
                        <div class="form-group">
                            <label for="valorAntigopla">Valor sem promoção:</label>
                            <input type="text" class="form-control" id="valorAntigopla" aria-describedby="valorAntigoHelppla" placeholder="Valor antigo da planta" name="valorAntigopla" th:field="*{valorAntigo}" required>
                            <small id="valorAntigoHelppla" class="form-text text-muted">Coloque o valor da planta antes da promoção.</small>
                        </div>
                        <div class="form-group">
                            <label for="qtdpla">Quantidade a ser adicionada</label>
                            <input type=number class="form-control" id="qtdpla" aria-describedby="qtdHelppla" name="qtdpla" th:field="*{qtdEmEstoque}" required>
                            <small id="qtdHelppla" class="form-text text-muted">Defina a quantidade a ser adicionada.</small>
                        </div>
                        <div class="form-group">
                            <label for="descontopla">Desconto Calculado!</label>
                            <input type="text" class="form-control" id="descontopla" aria-describedby="descontoHelppla" name="descontopla" th:field="*{desconto}" required readonly>
                            <small id="descontoHelppla" class="form-text text-muted">Desconto calculado automaticamente</small>
                        </div>

                    </div>
                </div>

                <div style="text-align: center">
                    <button type="submit" class="btn btn-primary" name="btpla" id="btpla">Inserir Planta</button>
                </div>

            </form>

        </div>
        <h3>Enfeites</h3>
        <div>
            <a name="enfeite"></a>
            <form method="post" action="/enfeite/salvar" th:object="${enfeite}" enctype="multipart/form-data">
                <input type="hidden" th:field="*{id}">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="nomeenf">Nome:</label>
                            <input type="text" class="form-control" id="nomeenf" aria-describedby="nomeHelpenf" placeholder="Nome do efeite" name="nomeenf" th:field="*{nome}" required>
                            <small id="nomeHelpenf" class="form-text text-muted">Coloque o nome do enfeite.</small>
                        </div>
                        <div class="form-group">
                            <label for="descricaoenf">Descrição</label>
                            <textarea class="form-control" id="descricaoenf" aria-describedby="descricaoHelpenf" placeholder="Descrição..." name="descricaoenf" th:field="*{descricao}"required></textarea>
                            <small id="descricaoHelpenf" class="form-text text-muted">Coloque a descrição do enfeite.</small>
                        </div>
                        <div class="form-group">
                            <label for="imagemenf">Selecione a imagem:</label>
                            <input type="file" id="imagemenf" name="imagemenf" required aria-describedby="imagemHelpenf">
                            <small id="imageHelpenf" class="form-text text-muted">Selecione uma imagem para o enfeite.</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="valorenf">Valor:</label>
                            <input type="text" class="form-control" id="valorenf" aria-describedby="valorHelpenf" placeholder="Valor do enfeite" name="valorenf" th:field="*{valor}" required>
                            <small id="valorHelpenf" class="form-text text-muted">Coloque o valor do enfeite.</small>
                        </div>
                        <div class="form-group">
                            <label for="valorAntigoenf">Valor sem promoção:</label>
                            <input type="text" class="form-control" id="valorAntigoenf" aria-describedby="valorAntigoHelpenf" placeholder="Valor antigo do enfeite" name="valorAntigoenf" th:field="*{valorAntigo}" required>
                            <small id="valorAntigoHelpenf" class="form-text text-muted">Coloque o valor do enfeite antes da promoção.</small>
                        </div>
                        <div class="form-group">
                            <label for="qtdenf">Quantidade a ser adicionada</label>
                            <input type=number class="form-control" id="qtdenf" aria-describedby="qtdHelpenf" name="qtdenf" th:field="*{qtdEmEstoque}" required>
                            <small id="qtdHelpenf" class="form-text text-muted">Defina a quantidade a ser adicionada.</small>
                        </div>
                        <div class="form-group">
                            <label for="descontoenf">Desconto Calculado!</label>
                            <input type="text" class="form-control" id="descontoenf" aria-describedby="descontoHelpenf" name="descontoenf" th:field="*{desconto}" required readonly>
                            <small id="descontoHelpenf" class="form-text text-muted">Desconto calculado automaticamente</small>
                        </div>

                    </div>
                </div>

                <div style="text-align: center">
                    <button type="submit" class="btn btn-primary" name="btenf" id="btenf">Inserir Enfeite</button>
                </div>

            </form>

        </div>
        <h3>Serviços</h3>
        <div>
            <a name="servico"></a>
            <form method="post" action="/servico/salvar" th:object="${servico}" enctype="multipart/form-data">
                <input type="hidden" th:field="*{id}">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="nomeser">Nome:</label>
                            <input type="text" class="form-control" id="nomeser" aria-describedby="nomeHelpser" placeholder="Nome do serviço" name="nomeser" th:field="*{nome}" required>
                            <small id="nomeHelpser" class="form-text text-muted">Coloque o nome do servico.</small>
                        </div>
                        <div class="form-group">
                            <label for="tiposer">Tipo:</label>
                            <input type="text" class="form-control" id="tiposer" aria-describedby="tipoHelpser" placeholder="Tipo do serviço" name="tiposer" th:field="*{tipo}"required> </input>
                            <small id="tipoHelpser" class="form-text text-muted">Coloque a descrição do serviço.</small>
                        </div>
                        <div class="form-group">
                            <label for="descricaoser">Descrição</label>
                            <textarea class="form-control" id="descricaoser" aria-describedby="descricaoHelpser" placeholder="Descrição..." name="descricaoser" th:field="*{descricao}"required></textarea>
                            <small id="descricaoHelpser" class="form-text text-muted">Coloque a descrição do serviço.</small>
                        </div>
                        <div class="form-group">
                            <label for="imagemser">Selecione a imagem:</label>
                            <input type="file" id="imagemser" name="imagemser" required aria-describedby="imagemHelpser">
                            <small id="imageHelpser" class="form-text text-muted">Selecione uma imagem para o serviço.</small>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="valorser">Valor:</label>
                            <input type="text" class="form-control" id="valorser" aria-describedby="valorHelpser" placeholder="Valor do serviço" name="valorser" th:field="*{valor}" required>
                            <small id="valorHelpser" class="form-text text-muted">Coloque o valor do serviço.</small>
                        </div>
                        <div class="form-group">
                            <label for="valorAntigoser">Valor sem promoção:</label>
                            <input type="text" class="form-control" id="valorAntigoser" aria-describedby="valorAntigoHelpser" placeholder="Valor antigo do serviço" name="valorAntigoser" th:field="*{valorAntigo}" required>
                            <small id="valorAntigoHelpser" class="form-text text-muted">Coloque o valor do enfeite antes da promoção.</small>
                        </div>
                        <div class="form-group">
                            <label for="descontoser">Desconto Calculado!</label>
                            <input type="text" class="form-control" id="descontoser" aria-describedby="descontoHelpser" name="descontoser" th:field="*{desconto}" required readonly>
                            <small id="descontoHelpser" class="form-text text-muted">Desconto calculado automaticamente</small>
                        </div>

                    </div>
                </div>

                <div style="text-align: center">
                    <button type="submit" class="btn btn-primary" name="btser" id="btser">Inserir Serviço</button>
                </div>

            </form>
        </div>
    </div>
    <div class="endpage"></div>
    
    <script>
        $("#fecharAviso").click(function () {
            $('#aviso').hide("slow");
        });
    
        // ferramenta
    
        $("#valorfer").focusout(function () {
           var va = $("#valorAntigofer").val();
           var v = $("#valorfer").val();
    
           var r = 100 - (v * 100 / va).toFixed(2);
    
            $("#descontofert").val(r);
        });
    
        $("#valorAntigofer").focusout(function () {
            var va = $("#valorAntigofer").val();
            var v = $("#valorfer").val();
    
            var r = 100 - (v * 100 / va).toFixed(2);
    
            $("#descontofert").val(r);
        });
    
        // planta
    
        $("#valorpla").focusout(function () {
            var va = $("#valorAntigopla").val();
            var v = $("#valorpla").val();
            var r = 100 - (v * 100 / va).toFixed(2);
            $("#descontopla").val(r);
        });
    
        $("#valorAntigopla").focusout(function () {
            var va = $("#valorAntigopla").val();
            var v = $("#valorpla").val();
            var r = 100 - (v * 100 / va).toFixed(2);
            $("#descontopla").val(r);
        });
    
        // Enfeite
    
        $("#valorenf").focusout(function () {
            var va = $("#valorAntigoenf").val();
            var v = $("#valorenf").val();
            var r = 100 - (v * 100 / va).toFixed(2);
            $("#descontoenf").val(r);
        });
    
        $("#valorAntigoenf").focusout(function () {
            var va = $("#valorAntigoenf").val();
            var v = $("#valorenf").val();
            var r = 100 - (v * 100 / va).toFixed(2);
            $("#descontoenf").val(r);
        });
    
        // servico
    
        $("#valorser").focusout(function () {
            var va = $("#valorAntigoser").val();
            var v = $("#valorser").val();
            var r = 100 - (v * 100 / va).toFixed(2);
            $("#descontoenf").val(r);
        });
    
        $("#valorAntigoser").focusout(function () {
            var va = $("#valorAntigoser").val();
            var v = $("#valorser").val();
            var r = 100 - (v * 100 / va).toFixed(2);
            $("#descontoser").val(r);
        });
    </script>
    
    <script src="/JS/bootstrap.min.js"></script>

</body>
</html>