<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>MuLung Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/Estilo.css">
</head>
<body>

    <div>
        <div class="fotinha">
            <div class="cabecarioflutu">
                <img src="Imagens/MuLung%20Garden.png" class="logo">
            </div>
            <div class="cabecariores cabeca">
                <h3>Plantas e Ervas</h3>
                <h3>Decoração para jardim</h3>
                <h3>Ferramentas para jardinagem</h3>
                <h3>Serviços de jardinagem</h3>
            </div>

        </div>

        <ul class="navegacao">
            <li><a class="active" href="/PaginaPrincipal">Inicio</a></li>
            <li class="direita"><a href="/Sobre">Sobre</a></li>
            <li><a href="/Produtos">Produtos e Serviços</a></li>
            <li><a href="/usuario/formulario" sec:authorize="!isAuthenticated()">Cadastre-se!</a></li>
            <li><a href="/Cadastrar/Produto" sec:authorize="hasRole('ADMIN')">Cadastrar Produtos</a></li>
            <li><a href="/usuario/logar" sec:authorize="!isAuthenticated()">Logar-se</a></li>
            <li><a href="/logout" sec:authorize="isAuthenticated()">Logout</a></li>
            <li class="nav-item active"><a class="nav-link" th:href="@{/usuario/perfil/{user}(user = ${#authentication.name})}" sec:authorize="isAuthenticated()">Perfil</a></li>
        </ul>


        <div class="dispo">

            <div class="responsive" th:each="ferramenta: ${TodasAsferramentas}">
                <div class="produto">
                    <div class="metadeImg">
                        <img th:src="@{'/Imagens/img/' + ${ferramenta.nome} + '_' + ${ferramenta.marca} + '.png'}"/>
                    </div>
                    <div class="metadeDes">
                        <h3 th:text="${ferramenta.nome}"></h3>
                        <p th:text="${ferramenta.marca}"></p>
                        <p class="promo" th:text="${ferramenta.desconto} + '% OFF!'"></p>
                        <p class="pA" th:text="${ferramenta.valorAntigo} + ' R$'"> R$</p>
                        <p class="pN" th:text="${ferramenta.valor} + ' R$'"></p>
                        <p th:text="${ferramenta.descricao}"></p>
                    </div>
                </div>
                <div>
                    <div id="botoesGerenteF" style="text-align: center">
                        <div id="botaoEditarF">
                            <a  th:href="@{/ferramenta/editar/{id}(id = ${ferramenta.id})}" sec:authorize="hasRole('ADMIN')"> <button class="botao" style="float: left; background-color: darkgoldenrod"><span>Editar</span></button> </a>
                        </div>
                        <div id="botaoExcuirF">
                            <a th:href="@{/ferramenta/excluir/{id}(id = ${ferramenta.id})}" sec:authorize="hasRole('ADMIN')"> <button class="botao" style="vertical-align:middle; background-color: darkred"><span>Excluir</span></button> </a>
                        </div>
                    </div>
                    <div id="botoesUsuarioF">
                        <div id="botaoComprarF" style="text-align: center">
                            <a sec:authorize="hasRole('USER')"> <button class="botao" style="vertical-align:middle; background-color: #1e7e34"><span>Comprar</span></button> </a>

                        </div>
                    </div>
                </div>
            </div>

            <div class="responsive" th:each="planta: ${TodasAsPlantas}">
                <div class="produto">
                    <div class="metadeImg">
                        <img th:src="@{'/Imagens/img/' + ${planta.nome} + '_' + ${planta.tipo} + '.png'}">
                    </div>
                    <div class="metadeDes">
                        <h3 th:text="${planta.nome}"></h3>
                        <p th:text="${planta.tipo}"></p>
                        <p class="promo" th:text="${planta.desconto} + '% OFF!'"></p>
                        <p class="pA" th:text="${planta.valorAntigo} + ' R$'"></p>
                        <p class="pN" th:text="${planta.valor} + ' R$'"></p>
                        <p th:text="${planta.descricao}"></p>
                    </div>
                </div>
                <div>
                    <div id="botoesGerenteP" style="text-align: center">
                        <div id="botaoEditarP">
                            <a th:href="@{/planta/editar/{id}(id = ${planta.id})}" sec:authorize="hasRole('ADMIN')"> <button class="botao" style="float: left; background-color: darkgoldenrod"><span>Editar</span></button> </a>
                        </div>
                        <div id="botaoExcuirP">
                            <a th:href="@{/planta/excluir/{id}(id = ${planta.id})}" sec:authorize="hasRole('ADMIN')"> <button class="botao" style="vertical-align:middle; background-color: darkred"><span>Excluir</span></button> </a>
                        </div>
                    </div>
                    <div id="botoesUsuarioP">
                        <div id="botaoComprarP" style="text-align: center">
                            <a sec:authorize="hasRole('USER')"> <button class="botao" style="vertical-align:middle; background-color: #1e7e34"><span>Comprar</span></button> </a>

                        </div>
                    </div>
                </div>
            </div>

            <div class="responsive" th:each="enfeite: ${TodosOsEnfeites}">
                <div class="produto">
                    <div class="metadeImg">
                        <img th:src="@{'/Imagens/img/' + ${enfeite.nome} + '_' + ${enfeite.descricao} + '.png'}">
                    </div>
                    <div class="metadeDes">
                        <h3 th:text="${enfeite.nome}"></h3>
                        <p class="promo" th:text="${enfeite.desconto} + '% OFF!'"></p>
                        <p class="pA" th:text="${enfeite.valorAntigo} + ' R$'"></p>
                        <p class="pN" th:text="${enfeite.valor} + ' R$'"></p>
                        <p th:text="${enfeite.descricao}"></p>
                    </div>
                </div>
                <div>
                    <div id="botoesGerenteE" style="text-align: center">
                        <div id="botaoEditarE">
                            <a th:href="@{/enfeite/editar/{id}(id = ${enfeite.id})}" sec:authorize="hasRole('ADMIN')"><button class="botao" style="float: left; background-color: darkgoldenrod"><span>Editar</span></button></a>
                        </div>
                        <div id="botaoExcuirE">
                            <a th:href="@{/enfeite/excluir/{id}(id = ${enfeite.id})}" sec:authorize="hasRole('ADMIN')"> <button class="botao" style="vertical-align:middle; background-color: darkred"><span>Excluir</span></button> </a>

                        </div>
                    </div>
                    <div id="botoesUsuarioE">
                        <div id="botaoComprarE" style="text-align: center">
                            <a sec:authorize="hasRole('USER')"> <button class="botao" style="vertical-align:middle; background-color: #1e7e34"><span>Comprar</span></button> </a>

                        </div>
                    </div>
                </div>
            </div>

            <div class="responsive" th:each="servico: ${TodosOsServicos}">
                <div class="produto">
                    <div class="metadeImg">
                        <img th:src="@{'/Imagens/img/' + ${servico.nome} + '_' + ${servico.tipo} + '.png'}">
                    </div>
                    <div class="metadeDes">
                        <h3 th:text="${servico.nome}"></h3>
                        <p class="promo" th:text="${servico.desconto} + '% OFF!'"></p>
                        <p class="pA" th:text="${servico.valorAntigo} + ' R$'"></p>
                        <p class="pN" th:text="${servico.valor} + ' R$'"></p>
                        <p th:text="${servico.descricao}"></p>
                    </div>
                </div>
                <div>
                    <div id="botoesGerenteS" style="text-align: center">
                        <div id="botaoEditaS">
                            <a th:href="@{/servico/editar/{id}(id = ${servico.id})}" sec:authorize="hasRole('ADMIN')"> <button class="botao" style="float: left; background-color: darkgoldenrod"><span>Editar</span></button> </a>
                        </div>
                        <div id="botaoExcuirS">
                            <a th:href="@{/servico/excluir/{id}(id = ${servico.id})}" sec:authorize="hasRole('ADMIN')"> <button class="botao" style="vertical-align:middle; background-color: darkred"><span>Excluir</span></button> </a>
                        </div>
                    </div>
                    <div id="botoesUsuarioS">
                        <div id="botaoComprarS" style="text-align: center">
                            <a sec:authorize="hasRole('USER')"> <button class="botao" style="vertical-align:middle; background-color: #1e7e34"><span>Comprar</span></button> </a>

                        </div>
                    </div>
                </div>
            </div>



            <div class="clearfix"></div>

        </div>
    </div>
    <div class="endpage">

    </div>

    <footer>
        <div class="social">
            <table>
                <tr>
                    <td>
                        <img src="Imagens/face.png">
                    </td>
                    <td>
                        <img src="Imagens/insta.png">
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="Imagens/twitter.png">
                    </td>
                    <td>
                        <img src="Imagens/YT.png">
                    </td>
                </tr>
            </table>
        </div>

        <div>
            <img  src="Imagens/selo.png" width="150" height="auto">
        </div>

        <div class="texto">
            <b>
                Telefone: 0800 975 9755. <br>
            </b>
            <b>
                Fundado em 8 de Fevereiro de 1997.<br>
            </b>
            <b>
                Desenvolvido por Lucas Benjamim.<br>
            </b>
        </div>
    </footer>
</body>
</html>