<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
    <link rel="stylesheet" type="text/css" href="/CSS/bootstrap.min.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/PaginaPrincipal">Inicio</a></li>
            <li class="nav-item"><a class="nav-link" href="/Sobre">Sobre</a></li>
            <li class="nav-item"><a class="nav-link" href="/Produtos">Produtos e Serviços</a></li>
            <li class="nav-item"><a class="nav-link" href="/usuario/formulario" sec:authorize="!isAuthenticated()">Cadastre-se!</a></li>
            <li class="nav-item"><a class="nav-link" href="/Cadastrar/Produto" sec:authorize="hasRole('ADMIN')">Cadastrar Produtos</a></li>
            <li class="nav-item"><a class="nav-link" href="/usuario/logar" sec:authorize="!isAuthenticated()">Logar-se</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout" sec:authorize="isAuthenticated()">Logout</a></li>
            <li class="nav-item active"><a class="nav-link" th:href="@{/usuario/perfil/{user}(user = ${#authentication.name})}" sec:authorize="isAuthenticated()">Perfil</a></li>
        </ul>
    </div>
</nav>


<div class="card" style="width: 98%; height: 100%; margin: 1%;" >
    <div class="card-body">
        <div class="row" id="row1">
            <div class="col-md-12" style="text-align: left">
                Nome:
                <p class="card-title" th:text="${perfilU.getNome()}"> </p>
                CPF:
                <p class="card-text" id="cpf" th:text="${perfilU.getCpf()}"></p>
                Data de Nascimento:
                <p class="card-text" th:text="${{perfilU.dataNascimento}}"></p>
                Endereço:
                <p class="card-text" th:text="${perfilU.getEndereco()}"></p>

                <div>
                    <a th:href="@{/usuario/editar/{id}(id = ${perfilU.id})}"> <button class="botao" style="float: left; background-color: darkgoldenrod"><span>Editar</span></button> </a>
                </div>
                <div>
                    <a th:href="@{/usuario/excluir/{id}(id = ${perfilU.id})}"> <button class="botao" style="vertical-align:middle; background-color: darkred"><span>Excluir</span></button> </a>
                </div>

                <!--Historico de Colmpra:-->
                <!--<table class="table">-->
                    <!--<thead class="thead-dark">-->
                    <!--<tr>-->
                        <!--<th scope="col">#</th>-->
                        <!--<th scope="col">Nome</th>-->
                        <!--<th scope="col">Presco</th>-->
                        <!--<th scope="col"></th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--&lt;!&ndash;<p class="card-text" th:text="${usuario.getHistorico()}"></p>&ndash;&gt;-->
                    <!--&lt;!&ndash;<tr th:each="i: ${#numbers.sequence(0,usuario.getHistorico().size()-1)}">&ndash;&gt;-->
                        <!--&lt;!&ndash;<th scope="row" th:text="${i+1}"></th>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td th:text="${usuario.getHistorico().get(i).getNome()}"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td th:text="${'R$'+usuario.getHistorico().get(i).getPresco()}"></td>&ndash;&gt;-->
                    <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                    <!--</tbody>-->
                <!--</table>-->
            </div>
        </div>
    </div>
</div>
</div>




</body>
</html>