<!DOCTYPE html>
<html lang="pt-br"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nos conheça melhor!</title>
    <link rel="stylesheet" href="CSS/Estilo.css">
</head>
<body>

    <div>
        <div class="fotinha">
            <div class="cabecarioflutu">
                <img src="Imagens/MuLung%20Garden.png" class="logo">
            </div>
            <div class="cabecariores cabeca">
                <h3>Plantas e Ervas</h3>
                <h3>Decoração para jardim</h3>
                <h3>Ferramentas para jardinagem</h3>
                <h3>Serviços de jardinagem</h3>
            </div>
    
        </div>
    
        <ul class="navegacao">
            <li><a href="/PaginaPrincipal">Inicio</a></li>
            <li class="active direita"><a href="/Sobre">Sobre</a></li>
            <li><a href="/Produtos">Produtos e Serviços</a></li>
            <li><a href="/usuario/formulario" sec:authorize="!isAuthenticated()">Cadastre-se!</a></li>
            <li><a href="/Cadastrar/Produto" sec:authorize="hasRole('ADMIN')">Cadastrar Produtos</a></li>
            <li><a href="/usuario/logar" sec:authorize="!isAuthenticated()">Logar-se</a></li>
            <li><a href="/logout" sec:authorize="isAuthenticated()">Logout</a></li>
            <li class="nav-item active"><a class="nav-link" th:href="@{/usuario/perfil/{user}(user = ${#authentication.name})}" sec:authorize="isAuthenticated()">Perfil</a></li>

        </ul>
    </div>

    <div>

        <div class="sobre textoSobre">
            <h1>História</h1>
            <p>
                No ano de 1997, Na pequena cidade interiorana São José, José Cavalcante, filho da celebre família
                cujo o sobrenome é Cavalcante Paz resolveu dar início ao sonho de seus avós e assim fundar a primeira
                loja de jardinagem na região. MuLung, nome dado à loja, foi fundada no dia 8 de fevereiro de 1997 mas esse
                importante feito não partiu do zero. A infância do fundador José Cavalcanti foi cercada de motivos para que
                o mesmo tomasse essa iniciativa seus avós, Virgílio Cavalcante Paz e Gorete Cavalcante Paz, cultivaram nos
                seus filhos o hábito e o amor pela jardinagem, até então não havia negócios, apenas o compromisso de cuidar
                do jardim aos arredores do Velho Casarão onde moravam os seus avós. José cavalcante, com sua criatividade,
                adorava trazer objetos encontrados na rua para que pudesse transforma-los em lindos ornamentos para o jardim
                da casa onde morava, e criava reais orbras de paisagistas, era realmente talentoso. Certo dia, No aniversário
                de sua amada avó, que recebeu inumeras vizitas, ele foi inumeras vezes elogiado pelo seu belíssimo trabalho,
                e daí cresceu sua vontade de trabalhar com isso um dia.
            </p>
        </div>

        <div class="textoLado">
            <div>
                <img src="Imagens/familiaCavalcanti.jpg">
            </div>
            <p>Familia Cavalcanti</p>

        </div>


        <div class="sobre textoSobre">
            <h1>Sobre <b style="color: darkgreen;">MuLung</b></h1>
            <p>
                MuLung, Hoje, é a maior empresa do ramo de jardinagem em geral, Conosco, você pode transformar
                o que você quiser em lindas paisagens, não importa o tamanho. Nossa sede principal fica em Fortaleza - CE,
                mas nossa inteligência fica em um pequeno distrito nas proximidades de uma cidade chamada Solonópole - CE.
                Nossos projetos vão muito alem do que simplesmente tranformar o pequenos jardins. Nós Como uma empresa
                amiga da naturaza ja reflorestamos mais de 600KM da Amazônia alem de incentivar os nossos clientes a sempre
                pensarem verde.
            </p>
        </div>


        <div class="textoLado">
            <div>
                <img src="Imagens/sede%20mulung%20em%20fortaleza.jpg">
            </div>
            <p>Sede da MuLung em Fortaleza</p>
        </div>
    </div>







</div>
<div class="endpage">

</div>

<footer>
    <div class="social">
        <table>
            <tr>
                <td>
                    <img src="Imagens/face.png">
                </td>
                <td>
                    <img src="Imagens/insta.png">
                </td>
            </tr>
            <tr>
                <td>
                    <img src="Imagens/twitter.png">
                </td>
                <td>
                    <img src="Imagens/YT.png">
                </td>
            </tr>
        </table>
    </div>

    <div>
        <img  src="Imagens/selo.png" width="150" height="auto">
    </div>

    <div class="texto">
        <b>
            Telefone: 0800 975 9755. <br>
        </b>
        <b>
            Fundado em 8 de Fevereiro de 1997.<br>
        </b>
        <b>
            Desenvolvido por Lucas Benjamim.<br>
        </b>
    </div>
</footer>

</body>
</html>