@charset "UTF-8";

.papelDeParedeBody{
    background-image: url("../img/body-background.png");


}

.tit1{
    color: rgb(39, 39, 39);
    text-shadow: 4px 4px 4px #c82333;
    text-align: center;
    font-size: 80px;
}

table#fist td{
    height: 70px;
    width: 200px;
}


caption{
    color: black;
    font-family: Ubuntu;
    font-style: italic;
    text-shadow: 4px 4px 4px #138496;
}

.textTitle1{
    font-family: "Ubuntu Condensed";
    font-size: 30px;
    text-shadow: 4px 4px 4px #c82333;
    text-align: center;
    color:black;
}

.sampleText1{
    font-family: "Ubuntu Condensed";
    font-size: 20px;
    color:black;
}

.beautifulText1{
    font-family: "Ubuntu Condensed";
    font-size: 20px;
    color: black;
    text-shadow: 4px 4px 4px #007bff;
}

footer{
    background-image: url("../img/fundo-rodape.png");

}

header.h{
    text-align: center;
    font-size: 25px;
    font-family: Ubuntu;
    background-color: black;
}
