.selecaoMagro{
    color: darkorange;
}

.selecaoSaudavel{
    color: green;
}

.selecaoSobrepeso{
    color: deeppink;
}

.selecaoObesidade1{
    color: orangered;
}

.selecaoObesidade2{
    color: red;
}

.selecaoObesidade3{
    color: darkred;
}

.noSelection{
    color: black;
}