body {
    margin: 0;
}

div.fotinha{
    background-image: url("../Imagens/header.jpg");
    margin: 0;
}

div.cabecarioflutu{
    float: left;
    padding: 15px;
}

div.cabecarioflutu img{
    border-radius: 15px;
    margin-left: 15px;
    margin-top: 15px;

}
div.cabecariores{
    float: none;
    background-color: white;
    padding: 10px;
    font-family: "Tlwg Typo", serif;
}

ul.navegacao {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #c0b384;
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
    top: 0;

}

ul.navegacao li a{
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navegacao li{
    float: left;
}

ul.navegacao li a:hover:not(.active){
    background-color: #493d31;
    color: white;
}

ul.navegacao li a.active{
    background-color: #ef9700;
}

ul.navegacao li.direita{
    float: right;
}

img.logo{
    height: 130px;
    width: auto;
}

.cabeca {
    text-align: right;
}

div.dispo{
    background: url("../Imagens/Grama.jpg")right bottom, left top;
}

div.dispo button{
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    width: 125px;
}

div.produto {
    display: block;
    background-color: #fff2d1;
    border-radius: 10px;
    overflow: hidden;
    font-family: "Manjari Bold", serif;
    margin: 10px;
    border: 1px solid #493d31;
    height: 300px;
    box-shadow: 5px 5px 5px;
}

div.produto:hover{
    border: 1px solid #ef9700;
}

.responsive{
    padding: 0 6px;
    float: left;
    width: 22.99999%;
}

@media only screen and (max-width: 1000px) {
    .responsive {
        width: 45.99999%;
        margin: 6px 0;
    }
    div.produto{
        height: 300px;
    }
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 98%;
        margin: 6px 0;

    }

    div.produto{
        height: 300%;
    }
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

div.produto p.promo{
    background-color: #ff6100;
    padding: 2px;
}

div.produto p.pA{
    text-decoration: line-through red;
}

div.produto p.pN{
    color: green;
}

div.produto h3, p{
    margin: 0;
}

div.produto div.metadeImg{
    width: 100%;
    height: 50%;
    overflow: hidden;
}

div.produto div.metadeDes{
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

div.produto img{
    width: 100%;
    height: auto;
}


footer{
    background-image: url("../Imagens/pedra.jpg");
    font-family: "Tlwg Typo", serif;
    font-size: 15px;
    color: black;
    padding: 15px;
    overflow: hidden;
}

footer div.social{
    margin: 10px;
    padding: 5px;
    width: 150px;
    height: 150px;
    float: left;
}


footer div.texto{
    background-color: white;
    border-radius: 10px;
    padding: 13px;
    text-align: center;
    margin-right: 15px;
    margin-top: 30px;
    box-shadow: 3px 3px 3px;
}

footer table{
    width: 125px;
    height: 125px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 3px;
}


footer table img{
    width: 45px;
    height: 45px;
}

div.endpage{
    background-image: url("../Imagens/wood.jpg");
    height: 50px;
}

form{
    text-align: center;
    font-family: "Manjari Bold";
}

form label{
    background-color: white;
    padding: 2px;
    border-radius: 5px;
}

form h1{
    text-shadow: 2px 2px 2px white;
}


form input{
    width: 99%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 25px;
}

form div{
    float: left;
    width: 50%;
    height: 50%;
}

@media screen and (max-width: 600px) {
    ul.navegacao li.direita,
    ul.navegacao li{float: none}
    div.cabecarioflutu{float: none; text-align: center}
    div.cabecariores{text-align: center}
    ul.navegacao {position: relative}
    footer div.texto{margin-top: 10px}
}

.sobre{
    font-family: "Manjari Bold", serif;
    padding: 50px;
}

.textoSobre{
    float: left;
    width: 50%;
}

.textoLado{
    display: block;
    height: 50%;
    text-align: right;
    padding: 10px;  
}

.textoLado p{
    padding: 5px;
}







